
*{
	box-sizing: border-box;
}
body{
	width: 100%;
	margin: 0;
	padding: 0;	

}

	
#playground{
	width: 550px;
	height: 550px;
	
	position: relative;
	float: left;
	background: green;
}
#stat{
	margin-left: 50px;
	width: 350px;
	height: 350px;
	float: left;
	
}
#tank{
	width: 50px;
	height: 50px;
	background: url(tank.png), #eeeeee;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	
}
.tank{
	width: 50px;
	height: 50px;
	background: black;
	position: absolute;
	
}
input{
	width: 50px;
	height: 50px;
	margin-left: 10px;
	font-size: 20px;
	text-align: center;
}
#refill {
	width: 70px;
	height: 50px;
	margin-left: calc(50% - 35px);
	margin-top: 20px;
	border: 2px solid green;
	text-align: center;
	padding-top: 15px;
}
#Enemy {
	width: 100px;
	height: 50px;
	margin-top: 20px;
	border: 2px solid green;
	text-align: center;
	padding-top: 15px;
}



 /* Современные браузеры, кроме Chrome, Opera, Safari */
  @keyframes go-left-right {   /* назовём анимацию: "go-left-right" */
    from {
      left: 50px;
	                 /* от: left: 0px */
    }
    to {
      left: calc(100% - 50px); /* до: left: 100%-50px */
    }
  }

  /* Префикс для Chrome, Opera, Safari */
  @-webkit-keyframes go-left-right {
    from {
      left:50px;
	  top: 50px;
    }
    to {
      left: calc(100% - 50px);
    }
  }

  .enemy {
   
    animation: go-left-right 3s infinite alternate;
    -webkit-animation: go-left-right 3s infinite alternate;
    position: relative;
    border: 2px solid green;
    width: 50px;
    height: 50px;
	top: 50px;
    background: lime;
  }